.*
node_modules/
dist/
coverage/
build/
*.js
*.jsx
*.map
*.log
.eslintignore
.eslintrc.cjs
eslint.config.js
tests/
.vscode/
.idea/
.gitignore/
.prettierrc/
.prettierignore/
package.json
package-lock.json
tsconfig.app.json
tsconfig.node.json
.husky/
tsconfig.json
vite.config.ts
README.md