$color-black-default: rgb(0, 0, 0);
$color-white-default: rgba(255, 255, 255, 1);

$bg-main: rgb(127, 110, 105);
$bg-item-main: rgb(24, 24, 27);
$bg-item-completed: rgb(113, 113, 122);
$bg-btn-update: rgb(124, 45, 18);

$btn-green: rgb(60, 170, 60);
$btn-red: rgb(239, 68, 68);
$btn-green-hover: rgb(48, 132, 48);

$text-main: rgb(255, 255, 255);
$text-update-btn: rgb(255, 211, 164);
