$color-black-default: rgb(0, 0, 0);
$color-white-default: rgba(255, 255, 255, 1);

$bg-main: rgb(55, 33, 26);

$btn-green: rgb(60, 170, 60);
$btn-green-hover: rgb(48, 132, 48);

$text-main: rgb(255, 255, 255);
