@mixin font(
  $font-size,
  $font-weight,
  $line-height: normal,
  $letter-spacing: normal,
  $text-transform: none
) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  text-transform: $text-transform;
  letter-spacing: $letter-spacing;
}

@mixin flex($js, $ai, $dir: null, $gap: null) {
  display: flex;
  justify-content: $js;
  align-items: $ai;
  flex-direction: $dir;
  gap: $gap;
}
